#contact-page-header{
    background-image: url("../images/contact-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#message{
    height: 200px;
}